[Desktop Entry]
Type=Application
Name=Vib First Login Setup
Exec=bash -c 'bash "$HOME/.local/share/vib/first-login.sh"'
X-GNOME-Autostart-enabled=true
