[Unit]
Description=Set theme based on time of day
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/theme-switch auto

[Install]
WantedBy=graphical-session.target
