name: python-config
type: shell
commands:
- echo \"Installing astral-sh/uv\"
- ln -s /usr/bin/python3 /usr/bin/python
- FILE_NAME=uv-x86_64-unknown-linux-gnu.tar.gz
- INSTALL_DIR=/usr/local/bin
- echo \"Fetching latest release of $FILE_NAME ...\"
- wget -v 'https://google.com'
modules:
- name: diagnostic-requirements
  type: apt
  source:
    packages:
    - traceroute
    - dnsutils
