name: python-config
type: shell
commands:
- echo \"Installing astral-sh/uv\"
- ln -s /usr/bin/python3 /usr/bin/python
- FILE_NAME=uv-x86_64-unknown-linux-gnu.tar.gz
- INSTALL_DIR=/usr/local/bin
- echo \"Fetching latest release of $FILE_NAME ...\"
- LATEST_RELEASE_URL=$(wget -q0 'https://api.github.com/repos/astral-sh/uv/releases/latest' | jq -r '.assets[] | select(.name=="uv-x86_64-unknown-linux-gnu.tar.gz") | .browser_download_url')
- echo \"Latest release URL is $LATEST_RELEASE_URL\"
- echo \"Downloading $FILE_NAME...\"
- wget -O \"$FILE_NAME\" \"$LATEST_RELEASE_URL\"
- echo \"Extracting files...\"
- tar -xzf \"$FILE_NAME\" uv uvx
- echo \"Installing binaries to $INSTALL_DIR...\"
- mv uv uvx \"$INSTALL_DIR\"
- echo \"Cleaning up...\"
- rm \"$FILE_NAME\"
- echo \"Verifying installation...\"
- if command -v uv &> /dev/null && command -v uvx &> /dev/null; then echo \"Installation successful!\"; else echo \"Installation failed. Please check manually.\"; fi
