name: python-config
type: shell
commands:
- ln -s /usr/bin/python3 /usr/bin/python
- REPO=\"astral-sh/uv\"
- FILE_NAME=\"uv-x86_64-unknown-linux-gnu.tar.gz\"
- INSTALL_DIR=\"/usr/local/bin\"
- echo \"Fetching latest release...\"
- LATEST_RELEASE_URL=$(curl -s \"https://api.github.com/repos/$REPO/releases/latest\" | jq -r '.assets[] | select(.name==\"$FILE_NAME\") | .browser_download_url')
- echo \"$LATEST_RELEASE_URL\"
