name: python-config
type: shell
commands:
- ln -s /usr/bin/python3 /usr/bin/python
- REPO=\"astral-sh/uv\"
- FILE_NAME=\"uv-x86_64-unknown-linux-gnu.tar.gz\"
- INSTALL_DIR=\"/usr/local/bin\"
- echo \"Fetching latest release...\"
