name: python-config
type: shell
commands:
- echo \"Installing astral-sh/uv\"
- ln -s /usr/bin/python3 /usr/bin/python
- FILE_NAME=uv-x86_64-unknown-linux-gnu.tar.gz
- INSTALL_DIR=/usr/local/bin
- echo \"Fetching latest release of $FILE_NAME ...\"
- wget -v 'https://api.github.com/repos/astral-sh/uv/releases/latest'
- LATEST_RELEASE_URL=$(wget -q0 'https://api.github.com/repos/astral-sh/uv/releases/latest' | jq -r '.assets[] | select(.name=="uv-x86_64-unknown-linux-gnu.tar.gz") | .browser_download_url')
- echo \"Latest release URL is $LATEST_RELEASE_URL\"
- exit 1
